{% extends "base.html" %}
{% block title %}Leard-Board{% endblock %}
{% block content %}
  <h1>Most Viewed Images</h1>
  <ol>
        {% for image in most_viewed %}
            <li>
                <a href="{{ image.get_absolute_url }}">
                {{ image.title }}
                </a>
            </li>
        {% endfor %}
  </ol>

  <h1>Most Liked Images</h1>
  <ol>
      {% for img in most_liked_img %}
        <li>
          <a href="{{ img.get_absolute_url }}">
            {{ img.title }}
          </a>
        </li>
      {% endfor %}
  </ol>
{% endblock %}